.b-margin {margin-bottom: 10px;}
.next-line {clear: both;}
/*.spouse {display: none;}*/
[data-size=popover4] + .popover {
	max-width: 320px;
	width: auto;
}
.my-border {
	border: 1px solid #dddddd;
	border-collapse: separate;
	*border-collapse: collapse;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

/*body {
	background-color: #666666;  #A8A88B; for willmer hale site
}*/
.container {
	background-color: white; /*#FFFFE9; wilmer hale site*/
	-webkit-border-radius: 4px;
       -moz-border-radius: 4px;
       		border-radius: 4px;
}
#navBar { position: fixed; }

.next-prev-buttons { display: none;}

.question.alert-error, .question.alert-info {
	margin-bottom: 5px;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.center-content {
	float: none;
	margin: auto;
}
.control-label{
	font-weight: bold;
}
.progress-tracker{
	background-color: #336699;
	position: relative;
}
.progress-tab{
	background-color: #999999;
	color: #666666;
	position: relative;
	-webkit-border-radius: 4px;
       -moz-border-radius: 4px;
       		border-radius: 4px;
}
.progress-tab.current{
	background-color: white;
	color: #333333;
	font-weight: bold;
}
.progress-arrow{
	position: relative;
	/*right: -17.5px;*/
	bottom: 10px;
}
.reset-button{
	position: absolute;
	right: 0%;
	top: 25%;
}
tr.total{
	border-top-style: solid;
	border-top-color: black;
	border-top-width: 3px;
}
/*.question-current{	}*/
.question-answered{
	position: relative;
	padding: 8px 35px 8px 14px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  	/*color: #3a87ad;*/
  	background-color: #d9edf7;
  	border-bottom: 1px solid #3a87ad;
  	/*-webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;*/
}
.answer{
	padding-left: 2em;
	font-weight: bold;
}
